*{
	box-sizing: border-box;
}
@media screen and (min-width: 1920px) {
/* 	body {
		background-color:aqua
	} */
	.description{
		left: 30%;
	}
	.adds{
		display: flex;
	}
	.category-container{
		justify-content: space-between;
	}
	.subscrition {
    margin-right: 30px;
	}
}
@media screen and (min-width: 2560px) {
	.description{
		left: 220px;
	}
	.img{
		width: 1110px;
    	margin: auto;
		background-position-x: center;
		background-size: auto;
	}
	.adds{
		display: flex;
	}
}
@media screen and (max-width: 1920px) {
	.description{
		left: 405px;
	}
	.adds{
		display: flex;
	}
	.category-container{
		justify-content: space-between;
	}
	.subscrition {
    margin-right: 30px;
	}
}
@media screen and (max-width: 1480px) {
	.description{
		left: 176.5px;
	}
	.img{
		background-position-x: center;
	}
	.adds{
		display: flex;
	}
	.subscrition {
    margin-right: 30px;
	}
}
@media screen and (max-width: 1280px) {
	.description{
		left: 76.5px;
	}
	.img{
		background-position-x: center;
	}
	.adds{
		display: flex;
	}
	.category-container{
		justify-content: space-around;
	}
	.subscrition {
    margin-right: 30px;
	}
}
@media screen and (max-width: 1220px) {
	.description{
		left: 3%;
	}
	.img{
		background-position-x: center;
	}
	.adds{
		display: block;
	}
	.add-container{
		display: flex;
		justify-content: space-around;
	}
	.category-container{
		justify-content: space-around;
	}
	.subscrition-map{
		align-items: center;
    	flex-direction: column;
	}
	.subscrition{
		margin:0;
	}
}
@media screen and (max-width: 1110px) {
	.description{
		left: 1%;
	}
	.img{
		background-position-x: center;
	}
	.add-container{
		display: flex;
		justify-content: space-around;
	}
	.subscrition-map{
		align-items: center;
    	flex-direction: column;
	}
	.subscrition{
		margin:0;
	}
}
/*@media screen and (max-width: 425px){

}*/
body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
nav, .second-line, .logo, .main_menu, .main-container, .sale, .goods-line, .subscrition-map, .social-media-container, .licence-policy{
	display: flex;
	justify-content: center;
}
.category-container{
	display: flex;
}
.subscrition-map, .adds, .recently-watched, .category-container, .social-media-container, .second-line{
	margin: auto;
	max-width: 1110px;
	padding-top: 80px;
}
.subscrition-map{
	padding: 0;
}
li{
	list-style-type: none;
	cursor: pointer;
}
li:hover{
	color: #525252;
}
li:active{
	color: #56a2bf;
}
h1, h2, h3, .text-logo {
	font-weight: 700;
	margin: 0px;
}
h4, .price{
	font-weight: 500;
}
.price{
	font-size: 21px;
	line-height: 25px;
}
input[type=text]{
	font-family: Roboto, sans-serif;
	font-size: 16px;
    font-weight: 400;
	padding-left: 52px;
	margin-top: 20px;
	width: 250px; 
	height: 40px;
	border-radius: 40px;
	background-color: #EFEFEF;
	border:none;
	outline: none;
}
a{
	text-decoration:none;
	color: #000;
	font-size: 16px;
}
input[type=button]{
	background-color: #fff;
	outline: none;
	width: 170px;
	height: 40px;
	border: 2px solid #F13C6E;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	border-radius: 40px;
	font-weight: normal;
}
input[type=button]:active{
	background-color: #EFEFEF;
}
.callback>a{
	white-space: nowrap;
	margin-right: 40px;
}
nav>li{
	padding: 16px 30px 0 0;
}
nav>li:nth-child(5){
	padding-right: 0px;
}
button{
	outline: none;
	width: 130px;
	height: 35px;
	background-color: #F13C6E;
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
    font-weight: 400;
    color: #fff;
}
button:active{
	background-color: #d02c59;
}
.search:before{
	content: "";
	background: url("img/search.svg");
	position: absolute;
	margin:30.45px 16px 0 ;
	width: 20px;
	height: 20px;
	}
.top-line{
	height: 50px;
	background-color: #E5E5E5;
}
.main-container{
	flex-direction: column;
}
.callback{
	padding: 20px;
}
.img{
	background-image: url(img/Rectangle2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.img2{
	background-image: url(img/Rectangle2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.hide{
	display: none;
	opacity: 0;
}
.description{
	position: absolute;
	top: 192px;
	/* left: 405px; */
	color: #fff;
	width: 308px;
}
.second-line, .content-holder, .licence-policy, .goods-line, .contt>nav>li, .social-media-container {
	justify-content: space-between; 
}
.img-add-container{
	width: 278px;
}
.text-logo{
	color:#F13C6E;
	margin-left: 20px;
	align-self: center;
	font-size: 36px;
}
.second-line{
	height: 120px;
	padding-top: 20px;
}
.main_menu{
	border-top: 1px solid #efefef;
}
.main_menu>li{
	padding: 30px 40px 30px 0;
	font-size: 16px;
}
.main_menu>li:nth-child(6){
	padding-right: 0px;
}
.sale{
	height: 604px;
	position: relative;
	max-width: 100%;
}
.description>input[type=submit]{
	margin-top: 50px;
}
.description>h1{
	white-space: nowrap;
	font-size: 48px;
	margin-bottom: 50px;
}
input[type=submit]{
	outline: none;
	width: 170px;
	height: 40px;
	background-color: #F13C6E;
	border: 2px solid #FFFFFF;
	border-radius: 40px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
    font-weight: 400;
    color: #fff;
}
input[type=submit]:active{
	background-color: #d02c59;
}
.product-card{
	background-color: #ffffff;
    margin-right: 15px;
    width: 255px;
    height: 363px;
}
.product-card:nth-child(4){
	margin-right: 0px;
}
.product-card>img, .product-card>span, .product-card>button, .price{
	display: block;
	margin: auto;
	text-align: center;
}
.content{
	background-color: #EFEFEF;
}
.goods{
	padding-top: 38px;
	padding-bottom: 100px;
}
.product-card>img{
	padding-top: 25px;
}
.product-card>span, .product-card>button, .price{
	margin-top: 20px;
}
.content-holder{
	display: flex;
	background-color: #F13C6E;
	width: 540px;
	height: 212px;
	color: #fff;
	padding: 35px 45px 35px 40px;
}
.text-content>h3{
	padding-bottom: 25px;
}
.text-content>span{
	display: block;
}
.text-content>input[type=submit]{
	margin-top: 25px;
}
input[type=mail]{
	font-family: Roboto, sans-serif;
	padding-left: 18px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    width: 225px;
    height: 35px;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    outline: none;
    color: #635757;
}
input[type=mail]:placeholder{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	color: #C4C4C4;
}
input[type=mail]:focus{
	border-style: solid;
	border-width: 0.5px;
	color: #333333:;
}
.img-content{
	padding: 19px 0;
}
.img-add-container{
	background-color: #fff;
	padding: 35px 0;
}
.img-add-container>img{
	margin: 0 60px;
}
.category-container{
	padding: 60px 0 0;
	height: 373px;

}
.social-media>a>img{
	padding: 15px 11px;
	border-radius: 50%;
	border-color: #F13C6E;
	border-style: solid;
	width: 28px;
	height: 16px;
}
.popular-categories{
	width: 82px;
	height: 158px;
}
.popular-categories>ul{
	padding: 25px 0 0;
	display: flex;
	flex-direction: column;
}
.popular-categories>h4{
	padding-bottom: 30px;
	border-bottom: 1px solid #EFEFEF;
	font-size: 22px;
	margin: 0px;
}
.popular-categories>ul>li{
	padding-bottom: 15px;
}
.addres{
	padding: 52px 0 0;
}
.social-media-container>.callback{
	padding-top: 40px;
}
.contt>nav>li, .contt>nav>li>a{
	font-size: 12px;
}
.contt>nav>li:nth-child(2){
	padding-right: 0px;
}
.contt>nav>li:nth-child(1){
	padding-right: 348px;
}