
*{
	box-sizing: border-box;
}
body{
	background-color: #100100;
}
.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*transform: translate(0,-6em)*/
}
.canvas_and_prefs_container{
	box-sizing: border-box;
	display: flex;
	padding: 2em;
	justify-content: center;
	align-content: center;
}
canvas{
	width: 70%;
	/*height: 70%;*/
	padding: 0 2em;
}
input[type=file]{
	display: none;
}
button{
	cursor: pointer;
	margin: .5em 0;
	padding: .2rem .8em;
	box-shadow: 2px 2px 2px 0px rgb(0 0 0);
	background-color: #b61f4e1f;
}
label,button{
	color: #ffffff;
	font-size: 25px;
	font-family: 'SULFEAN',Arial,sans-serif;
	line-height: 1.55;
	font-weight: 600;
	border-width: 3px;
	border-radius: 8px;
	background-position: center center;
    border-color: #ffffff;
    border-style:solid;
}
.prefs{
	display: flex;
	flex-direction: column;
}
.label-container{
	display: flex;
	justify-content: space-around;
	/*transform: translate(0,9em);*/
	width: 100%;
}

/*#download{
	transform: translate(0,-10.5em);
}*/
.width_buttons,.color-buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;	
}
div.rgb{
	position: absolute;
    top: 285px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
/*.width_buttons{
	transform: translate(12em,0);
}
.color-buttons{
	transform: translate(-12em,0);
}*/
#pink{
	border-color: #b61f4e;
	box-shadow: 5px 5px 5px 0px rgb(182 31 78);
}
#white{
	border-color: #ffffff;
	box-shadow: 5px 5px 5px 0px rgb(255 255 255);
}
#blue{
	border-color: #1c76c2;
	box-shadow: 5px 5px 5px 0px rgb(28 118 194);
}

.rgb{
	-webkit-animation: 6s linear 0s infinite alternate rgb;
     -moz-animation: 6s linear 0s infinite alternate rgb;
       -o-animation: 6s linear 0s infinite alternate rgb;
          animation: 6s linear 0s infinite alternate rgb;
}
@-webkit-keyframes rgb {
	from {
		box-shadow: 5px 5px 5px 2px #ff0000; 
	} 
	33%	{ 
		box-shadow: 7px 7px 7px 2px #008000; 
	}
	66%	{ 
		box-shadow: 7px 7px 7px 2px #0000ff;
	}
	98%	{ 
		box-shadow: 6px 6px 5px 2px #ff0000;
	}
	100%{
		box-shadow: 5px 5px 5px 2px #ff0000;  
	}  
}
@-moz-keyframes rgb {
	from {
		box-shadow: 5px 5px 5px 2px #ff0000; 
	} 
	33%	{ 
		box-shadow: 7px 7px 7px 2px #008000; 
	}
	66%	{ 
		box-shadow: 7px 7px 7px 2px #0000ff;
	}
	98%	{ 
		box-shadow: 6px 6px 5px 2px #ff0000;
	} 
	100%{
		box-shadow: 5px 5px 5px 2px #ff0000;  
	}
}
@-o-keyframes rgb {
	from {
		box-shadow: 5px 5px 5px 2px #ff0000; 
	} 
	33%	{ 
		box-shadow: 7px 7px 7px 2px #008000; 
	}
	66%	{ 
		box-shadow: 7px 7px 7px 2px #0000ff;
	}
	98%	{ 
		box-shadow: 6px 6px 5px 2px #ff0000;
	}
	100%{
		box-shadow: 5px 5px 5px 2px #ff0000;  
	}  
}
@keyframes rgb {
	from {
		box-shadow: 5px 5px 5px 2px #ff0000; 
	} 
	33%	{ 
		box-shadow: 7px 7px 7px 2px #008000; 
	}
	66%	{ 
		box-shadow: 7px 7px 7px 2px #0000ff;
	}
	98%	{ 
		box-shadow: 6px 6px 5px 2px #ff0000;
	}
	100%{
		box-shadow: 5px 5px 5px 2px #ff0000;  
	}  
}
@media screen and (max-width: 320px){
	/*.main-container{
		width: 320px;
	}*/
}
@media screen and (max-width: 375px){

}

@media screen and (max-width: 768px){
	canvas {
    width: 115%;
  }
  .width_buttons{
  	transform: translate(11em);
  }
  .color-buttons{
  	transform: translate(-11em);
  }
}
@media screen and (max-width: 640px){
	.width_buttons{
  	transform: translate(9em);
  }
  .color-buttons{
  	transform: translate(-9em);
  }
  .color-buttons button, .width_buttons button{
  	width: 90px
  }
}
@media screen and (max-width: 1024px){

}
@media screen and (min-width: 1440px){

}
@media screen and (min-width: 1920px){

}